@import "./styles/mixins/responsive";


.b-cast {
  padding: 50px 0;

  &-row {
    display: flex;
    border: 1px solid red;
    align-items: flex-start;
    justify-content: space-between;

    & + .b-cast-row {
      margin-top: 15px;
    }
  }
}


.w-shows {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 30px;
  justify-content: center;

  & > .b-show-card {
    margin: 15px;
    flex: 0 1 20%;

    @include respond-to-max(900) {
      flex: 0 1 25%;
    }

    @include respond-to-max(767) {
      flex: 0 1 40%;
    }

    @include respond-to-max(580) {
      flex: 0 1 90%;
    }
  }
}