@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?7l67vi');
  src:  url('./icomoon.eot?7l67vi#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?7l67vi') format('truetype'),
    url('./icomoon.woff?7l67vi') format('woff'),
    url('./icomoon.svg?7l67vi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-display:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
